<nav class="navbar sticky-top navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{%url 'home'%}">
            <h1> Udaku</h1>
        </a>
        <div class="navbar-center" style="margin-top:5px; margin-right:10px;">
            <form action="" class="form-inline mx-auto" role="search">
                <div class="input-group">
                    <input type="text" class="form-control form-control-sm" placeholder="Search" name="profile">
                </div>
            </form>
        </div>
        {%if user.is_authenticated %}
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"> Post</a></li>
            <li><a href="#"> Neighbourhood</a></li>
            <li><a href="#"> Create Neighbourhood</a></li>
            <li><a href="{% url 'accounts:logout' %}"> Logout</a></li>
        </ul>
        {%else%}
        <li><a href="#"> Groups</a></li>
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}"> Sign Up</a></li>
    </div>
    {%endif%}
    </div>
</nav>