{% extends "hoods/hood_base.html" %} {% block prehood %}
<div class="row mt-2" ">
  <div class="col-md-4">
    {% if user.is_authenticated %}
    <p>Welcome 
      <a href="{% url 'posts:for_user' username=user.username%}">@{{user.username}}</a> {% endif %}<br/> Welcome to the hoods page!</p>
    {% if user.is_authenticated%}
    <a href="{% url 'hoods:create' %}">Create Hood</a> 
    {% endif %}
  </div>
  {% endblock %} {% block hood_content %}
    <div class="row">
      {% for hood in object_list %}
      <div class="col-md-4">
        <div class="card mt-2 text-white bg-dark mb-3" >
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'hoods:single' slug=hood.slug %}">{{hood.name}}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{hood.location}}</h6>
            <p class="card-text"><span class="badge badge-secondary">{{hood.occupants.count}}</span> occupant{{hood.occupants.count|pluralize}}</p>
            <p class="card-text"><span class="badge badge-secondary">{{hood.businesses.count}}</span> business{{hood.businesses.count|pluralize}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
